@import url('https://rsms.me/inter/inter.css');

$black: rgba(19, 19, 19, 1);
$black-1: rgba(0, 0, 0, 1);
$black-2: rgba(20, 20, 20, 1);
$gray: rgba(144, 144, 144, 1);
$gray-2: rgba(135, 135, 135, 1);
$gray-3: rgba(129, 132, 137, 1);
$lavender: rgba(231, 234, 238, 1);
$light-steel-blue: rgba(188, 178, 255, 1);
$orange: rgba(255, 182, 29, 1);
$primary-1: rgba(45, 108, 223, 1);
$transparent-black: rgba(19, 19, 19, 0.15);
$white: rgba(255, 255, 255, 1);
$white-2: rgba(254, 254, 254, 1);

// Typographies
@mixin inter-12-medium {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
@mixin inter-14-medium {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
@mixin inter-14-regular {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
@mixin inter-14-semi-bold {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}
@mixin inter-16-regular {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@mixin inter-18-medium {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
@mixin inter-18-regular {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

